<form>
  <h1>Create New Task...</h1>
  <input type="text" placeholder="Title" />

  <label for="description">Description</label>
  <textarea id="description" placeholder="Description"></textarea>

  <label for="priority">Priority</label>
  <select name="priority" id="priority">
    <option value="High">High</option>
    <option value="Low">Low</option>
    <option value="Moderate">Moderate</option>
    <option value="Critical">Critical</option>
  </select>

  <label for="storyPoints">Story Points</label>
  <select name="storyPoints" id="storyPoints">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>

  <button type="submit">Send</button>
</form>
