<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <h1>Create New Task...</h1>
  <input type="text" placeholder="Title" formControlName="title" />

  <label for="description">Description</label>
  <textarea
    id="description"
    placeholder="Description"
    formControlName="description"
  ></textarea>

  <label for="priority">Priority</label>
  <select id="priority" formControlName="taskPriority">
    <option value="High">High</option>
    <option value="Low">Low</option>
    <option value="Moderate">Moderate</option>
    <option value="Critical">Critical</option>
  </select>

  <label for="storyPoints">Story Points</label>
  <select id="storyPoints" formControlName="storyPoints">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="15">15</option>
  </select>

  <button type="submit">Send</button>
</form>

<div *ngFor="let task of tasks" id="main-card-content">
  <div class="task-card">
    <h3>{{ task.title }}</h3>
    <p>{{ task.description }}</p>
    <p><strong>Priority:</strong> {{ task.taskPriority }}</p>
    <p><strong>Story Points:</strong> {{ task.storyPoints }}</p>
    <div class="btn">
      <button (click)="onDelete(task.id)">Delete</button>
      <button>Edit</button>
    </div>
  </div>
</div>
