$primary-color: #25113d;
$secondary-color: #bf9ee5;
$accent-color: #3e1f5e;
$error-color: #e74c3c;
$success-color: #3498db;

$text-color: #25113d;
$background-color: #f9f9f9;

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: $text-color;
  background-color: $secondary-color;
  padding: 1rem;
  width: 50%;
  height: 40%;
  border-radius: 5px;
  margin-top: 35px;
  margin-left: 25%;

  input,
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
  }

  button {
    margin-top: 1rem;
    padding: 0.7rem;
    background-color: $primary-color;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-weight: bold;
  }

  button:hover {
    background-color: $accent-color;
  }
}

.task-list {
  ul {
    list-style-type: none;
    padding: 0;
  }

  .task-item {
    background: $background-color;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }

  .btn {
    display: flex;
    gap: 8px;
  }

  button {
    border: none;
    padding: 8px 12px;
    cursor: pointer;
  }

  button:first-child {
    background: $error-color;
    color: white;
  }

  button:last-child {
    background: $success-color;
    color: white;
  }
}
