@if(isAddingTask) {
<app-new-task
  *ngIf="isAddingTask"
  (cancel)="onCancelAddTask()"
  (taskAdded)="onTaskAdded($event)"
></app-new-task>
}

<div class="task-container">
  <div class="user-selection-container">
    <p *ngIf="name; else noUserSelected">{{ name }}</p>
    <ng-template #noUserSelected>
      <p>Select a user</p>
    </ng-template>
    <button (click)="onStartAddTask()">Add Task</button>
  </div>
  <div class="task-info">
    <h1>{{ title }}</h1>
    <h2>{{ dueDate }}</h2>
    <p>{{ summary }}</p>
    <button>Complete</button>
  </div>
</div>

<ul>
  <li *ngFor="let task of tasks">
    {{ task.title }} - {{ task.summary }} ({{ task.dueDate }})
    <button (click)="removeTask(task.id)">Delete</button>
  </li>
</ul>
