#users {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  button {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    cursor: pointer;
    width: 20%;
    background-color: #433352;
    color: #c3b3d1;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    background-color: #9965dd;
    color: #150722;
  }
}
